#back2Top {
  width: 90px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  position: fixed;
  bottom: 50px;
  right: 0;
  text-align: left;
  font-size: 24px;
  box-shadow: 1px 1px 2px #000000;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 10px;
}
#back2Top:hover {
  color: #000;
}
