@charset "UTF-8";

/* Pagination links */
.pagination a {
	color: black;
	padding: 8px 16px;
	transition: background-color 0.3s;
	text-decoration: none;
}

.pagination a.active {
	background-color: #4caf50;
	color: white;
}

.pagination a:hover {
	background-color: #ddd;
	color: white;
}